{% extends './base.html' %}
{% block content %}
        <p>解析したいファイルを選択して「解析」ボタンを押してください。</p>
        <form action='create' method='post' enctype="multipart/form-data">
            <table class='table'>
                <tr>
                    <td>
                        {% csrf_token %}
                        <!-- 2024/11/10 K.Matsuura UPD START -->
                        <!-- {{ pathform }} -->
                        {{ uploadfileform }}   
                        <!-- 2024/11/10 K.Matsuura UPD END -->
                    </td>
                    <td>
                        <input type = 'submit' value='解析'>
                    </td>
                </tr>
            </table>
        </form>
        <!-- 2024/11/10 K.Matsuura DEL -->
        <!-- <p>{{ explanation }}</p> -->
        {% if ai_analysis_log %}
        <table class='table table-striped table-hover'>
            <tr>
                <td>image_path :</td>
                <td>{{ai_analysis_log.image_path}}</td>
            </tr>
            <tr>
                <td>success : </td>
                <td>{{ai_analysis_log.success}}</td>
            </tr>
            <tr>
                <td>message : </td>
                <td>{{ai_analysis_log.message}}</td>
            </tr>
            <tr>
                <td>cls : </td>
                <td>{{ai_analysis_log.cls}}</td>
            </tr>
            <tr>
                <td>confidence : </td>
                <td>{{ai_analysis_log.confidence}}</td>
            </tr>
            <tr>
                <td>request_timestamp : </td>
                <td>{{ai_analysis_log.request_timestamp}}</td>
            </tr>
            <tr>
                <td>response_timestamp : </td>
                <td>{{ai_analysis_log.response_timestamp}}</td>
            </tr>
        </table>
        {% endif %}
{% endblock %}